INSTALLED_FILE=$(pwd)/.installed-$(date +%Y).txt

[[ -e ./.venv/bin/activate ]] || python3 -m venv .venv
source ./.venv/bin/activate

[[ -e ./.venv/bin/meson ]] || pip install meson

export PATH=$(pwd)/.venv:$PATH

export PATH=$(pwd)/scripts:$(pwd)/bin:$PATH
paleta < ~/.palettes/molokai-dark

if [[ ! -f "$INSTALLED_FILE" ]]; then
    make setup
    touch "$INSTALLED_FILE"
fi
ansi --random-palette
