INSTALLED_FILE=$(pwd)/.installed-$(date +%Y).txt

[[ -e ./.venv/bin/activate ]] || python3 -m venv .venv
source ./.venv/bin/activate

[[ -e ./.venv/bin/meson ]] || pip install meson

export PATH=$(pwd)/.venv:$PATH
export PATH=$(pwd)/build:$PATH

export PATH=$(pwd)/scripts:$(pwd)/bin:$PATH

if [[ ! -f "$INSTALLED_FILE" ]]; then
    paleta < ~/.palettes/molokai-dark
    make setup
    touch "$INSTALLED_FILE"
fi
#ansi --random-palette

paleta < ~/.palettes/miu-dark
paleta < ~/.palettes/vscode
