[submodule "submodules/cembed"]
	path = submodules/cembed
	url = https://github.com/rxi/cembed
[submodule "submodules/tercontrol"]
	path = submodules/tercontrol
	url = https://github.com/ZackeryRSmith/tercontrol
[submodule "submodules/ansicodes"]
	path = submodules/ansicodes
	url = https://github.com/mlabbe/ansicodes
[submodule "submodules/dbg.h"]
	path = submodules/dbg.h
	url = https://github.com/leiless/dbg.h
[submodule "submodules/debug_print_h"]
	path = submodules/debug_print_h
	url = git@github.com:binRick/debug_print_h.git
[submodule "submodules/c_printf"]
	path = submodules/c_printf
	url = git@github.com:binRick/c_printf.git
[submodule "submodules/generic-print"]
	path = submodules/generic-print
	url = https://github.com/exebook/generic-print.git
[submodule "submodules/csv_parser"]
	path = submodules/csv_parser
	url = https://github.com/semitrivial/csv_parser
[submodule "submodules/colorcodeconverter"]
	path = submodules/colorcodeconverter
	url = https://github.com/zakarouf/colorcodeconverter
[submodule "submodules/c_string_buffer"]
	path = submodules/c_string_buffer
	url = https://github.com/sagiegurari/c_string_buffer
